.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.mysidebar {
  background-color: #52f5eb;

}

.mylistheader {
  background-color: #769ad3;
  color: #ffffff;
}

.errorlist {
  color: #ff0000;
}
